.container {
  padding: 20px;
  min-height: 100vh;
  background-image: url('../../public/background/bg1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); /* Blur effect */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay to enhance text readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(180, 227, 241, 0.8); /* Slightly transparent background */
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.jobTitle {
  margin: 0;
  color: #0070f3;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.jobTitle:hover {
  text-decoration: underline;
}

.company {
  margin: 10px 0 0;
  color: #444;
}
